{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock title %}

{% block content %}
<div class="row my-5">
  <div class="d-flex justify-content-center align-items-center flex-column my-5">
    <h1 class="text-center display-4 fw-bold">Connect. Automate. Thrive.</h1>
    <p class="text-center">Streamline your workflow and unlock seamless productivity.</p>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 px-5">
  <div class="col">
    <div class="card bg-transparent">
      <img src="..." class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
      <div class="card-body border-top">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-transparent">
      <img src="..." class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
      <div class="card-body border-top">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-transparent">
      <img src="..." class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
      <div class="card-body border-top">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-transparent">
      <img src="..." class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
      <div class="card-body border-top">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-transparent">
      <img src="..." class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
      <div class="card-body border-top">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-transparent">
      <img src="..." class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
      <div class="card-body border-top">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-transparent">
      <img src="..." class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
      <div class="card-body border-top">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-transparent">
      <img src="..." class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
      <div class="card-body border-top">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}