:root{
    --connect-blue: #1992ef;
    --connect-dark-blue: #0476ce;
    --alt-connect: #1992efad;
    --white: #ffffff;
    --dark: #000000;
    --greyish: #f5f5f5;    
}

nav .container{
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.53);
    background: linear-gradient(182deg,rgba(255, 249, 235, 1) 0%, rgb(253, 245, 229) 0%, rgba(255, 250, 242, 1) 100%);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: var(--dark) !important;
}

nav .nav-link{
    color: var(--secondary-color) !important;
    font-weight: 500;
    font-size: 1.1rem !important;
}

nav .nav-link:hover{
    color: var(--connect-blue) !important;
    transform: translateY(-2px);
    font-weight: 800;
    /* border-bottom: #C8D9E6 3px solid; */
}

transform-a:hover{
    transform: translateY(-2px);
}